<h1>Choose a Hero name!</h1>

<form id="create-char-form">
    {{!-- here we bind our label and our inputs --}}
    <label for="char-name">Hero:</label>
    <input type="text" id="char-name">
    <input type="submit" value="Choose">
</form>