<h1>Create a character!</h1>

<form id="create-char-form">
    {{!-- here we bind our label and our inputs --}}
    <label for="char-name">Character Name:</label>
    <input type="text" id="char-name">
    <label for="char-type">Type:</label>
    <input type="text" id="char-type">
    <input type="submit" value="Submit">
</form>